{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Aufbau{% endblock %}

{% block content %}


<p>
    
Zu Beginn des Experimentes erhalten Sie <b>15 Euro</b> als Grundbetrag. 
Dies entspricht in diesem Experiment <b>225 Punkten.</b> 
Ausgehend von den 225 Punkten k&ouml;nnen Sie Punkte dazuverdienen oder verlieren, wobei Ihre endg&uuml;ltige Punktanzahl von Ihren Entscheidungen und einer zuf&auml;lligen Auslosung abh&auml;ngt. 
Am Ende des Experiments werden die Punkte in Euro umgerechnet, <b>15 Punkte entsprechen dabei einem Euro.</b> 
Weitere Informationen erhalten Sie zu einem sp&auml;teren Zeitpunkt.

</p>

<p>
    
Die Auswertung der Umfrage erfolgt pseudonymisiert. 
Das hei&szlig;t, Ihre Antworten auf die folgenden Fragen werden <b>vollkommen getrennt von Ihren pers&ouml;nlichen Informationen</b> ausgewertet. 
Bitte antworten Sie daher so pr&auml;zise wie m&ouml;glich.

</p>

<p>
    
Das Experiment besteht aus <b>2 Teilen mit jeweils 40 zu treffenden Entscheidungen.</b>
Diese Entscheidungen beeinflussen Ihre sp&auml;tere Auszahlung. 
Zwischen diesen beiden Teilen, also nach Abschluss der ersten 40 Entscheidungen, werden Ihnen <b>16 weitere Fragen</b> gestellt.
Diese beeinflussen Ihre Auszahlung <b>nicht.</b> 
Haben Sie diese beantwortet, geht es mit dem zweiten Teil bestehend aus 40 Entscheidungen weiter. 
Die Entscheidungen des zweiten Teils sind dann wieder f&uuml;r ihre Auszahlung relevant. 

</p>

<p>
    
Sie bearbeiten die Umfrage unabh&auml;ngig von den anderen Teilnehmern, k&ouml;nnen also <b>in Ihrem eigenen Tempo</b> arbeiten.
</p>

<div class="otree-next" id="otree-next">
    
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um mit der Experimentbeschreibung fortzufahren.
</p>

    {% next_button %}
</div>


{% endblock %}