{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Beschreibung der kommenden Entscheidungssituationen (2/2){% endblock %}

{% block content %}


<p>
    
Ihre Entscheidungen, die Sie w&auml;hrend des Experimentes treffen, bestimmen die H&ouml;he Ihrer endg&uuml;ltigen Auszahlung:

</p>

<ol>
    <li style="margin-top: 0rem">
        Der Computer w&auml;hlt eine Tabelle mit 50% Wahrscheinlichkeit aus einer Gewinnsituation und mit 50% Wahrscheinlichkeit aus einer Verlustsituation.
    </li>
    <li style="margin-top: 1rem">
        In der ausgew&auml;hlten Tabelle w&auml;hlt der Computer zuf&auml;llig eine der 21 Zeilen. Die Entscheidung, die Sie dort getroffen haben, wird dann <b>tats&auml;chlich umgesetzt:</b>
        <ul>
            <li style="margin-top: 0.25rem">
                Haben Sie in dieser Zeile Option A gew&auml;hlt, wird Option A umgesetzt.
            </li>
            <li style="margin-top: 0.25rem">
                Haben Sie in dieser Zeile Option B gew&auml;hlt, wird Option B umgesetzt.
            </li>
        </ul>
    </li>
    <li style="margin-top: 1rem">
        Je nach Entscheidungstyp erhalten oder verlieren Sie eine bestimmte Anzahl an Punkten, wobei 15 Punkte einem Betrag von 1 Euro entsprechen. Der entsprechende Euro-Betrag wird danach mit dem Grundbetrag in H&ouml;he von 15 Euro verrechnet.
    </li>
</ol>

<p>
    
Es liegt daher in Ihrem Interesse, jede Entscheidung <b>sorgf&auml;ltig</b> zu treffen.

</p>

<p>
    
Bitte klicken Sie auf <em>Weiter</em>, um mit den Beispielaufgaben und Verst&auml;ndnisfragen fortzufahren.

</p>


{% next_button %}

{% endblock %}