{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Beispiele und Verst&auml;ndnisfragen{% endblock %}

{% block content %}


<div>
    <ul class="nav nav-tabs   fixed-top navbar-light bg-light justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="tabclick nav-link active show" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction(); bootstrapTabControl(1);" aria-selected="true">
                Info
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction(); bootstrapTabControl(2);" aria-selected="false">
                Beispiel: Gewinnsituation
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction(); bootstrapTabControl(3);">
                Beispiel: Verlustsituation
            </a>
        </li>
                    <li class="nav-item">
            <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction(); bootstrapTabControl(4);">
                Verst&auml;ndnisfragen
            </a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    
<div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
    <div class="card-header bg-transparent mainheader tab-header">
        <h2 class="card-title font-weight-bold">
            Info
        </h2>
    </div>
    
<div class="card-body">
    
<p>
    
Es beginnt gleich der erste Teil der Studie. 
Auf dieser Seite finden Sie dazu Erkl&auml;rungen und Beispiele. 
Auf der folgenden Seite werden Sie Ihr Verst&auml;ndnis dieser Erkl&auml;rungen &uuml;berpr&uuml;fen. 
Durch Klicken auf den Reiter oben k&ouml;nnen Sie zwischen den Seiten wechseln. 

</p>

    
<p>
    
Nach korrekter Beantwortung der Verst&auml;ndnisfragen k&ouml;nnen Sie mit der weiteren Bearbeitung der Umfrage fortfahren.

</p>

</div>

    <button onclick="topFunction(); bootstrapButtonControl('next');" type="button" class="nexttab btn-primary btn next">
        Weiter
    </button>
</div>

    
<div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
    <div class="card-header bg-transparent mainheader tab-header" >
        <h2 class="card-title font-weight-bold">
            Beispiel: Gewinnsituation
        </h2>
    </div>
    
<div class="card-body">
    
<h4 class="card-title example-content-h-first">
    Eingabe bei Gewinnsituation
</h4>

<p>
    
Hier wird Ihnen erkl&auml;rt, wie Sie in einer Gewinnsituation ihre Entscheidungen eingeben. 

</p>


<p>
    
Wenn Sie sich hier f&uuml;r die Lotterie (Option A) entscheiden, besteht eine 50% Chance 20 Punkte zu gewinnen und eine 50% Chance 0 Punkte zu gewinnen. 
Entscheiden Sie sich hingegen f&uuml;r die sichere Auszahlung (Option B), so erhalten Sie mit Sicherheit die der Zeile entsprechenden Punktzahl zwischen 20 und 0.

</p>


<div class="dtable">
    
    <div class="dtable-b">
        
    <!--Tabelle B1: Nummerierung-->
    <table class="dtable-b1">
      <tbody><tr class="dtable-b1-tr1">
        <td>
          <span></span>
        </td>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">1</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">2</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">3</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">4</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">5</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">6</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">7</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">8</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">9</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">10</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">11</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">12</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">13</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">14</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">15</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">16</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">17</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">18</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">19</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">20</span>
        </th>
      </tr>
      
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">21</span>
        </th>
      </tr>
      
    </tbody></table>
    
        
    <!--Tabelle B2: Option A-->
    <table class="dtable-b2">
      <tbody><tr class="dtable-b2-tr1">
        <td>
          <span>Option A: <br> Risikolotterie</span>
        </td>
      </tr>
      <tr class="dtable-b2-tr">
        <td>
          <div>
            <p>Auszahlung von 20.00 Punkte</p>
            <p>mit Wahrscheinlichkeit 10%</p>
            <p>und Auszahlung von 10.00 Punkte</p>
            <p>mit Wahrscheinlichkeit 90%</p>
          </div>
        </td>
      </tr>
    </tbody></table>
    
        
    <!--Tabelle B3: Entscheidung-->
    <table class="dtable-b3">
      <tbody><tr class="dtable-b3-tr1">
        <td colspan="4">
          <span>Ihre Entscheidung</span>
        </td>
      </tr>
      <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D1-0" name="B1_GAIN2_D1" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D1-1" name="B1_GAIN2_D1" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D2-0" name="B1_GAIN2_D2" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D2-1" name="B1_GAIN2_D2" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D3-0" name="B1_GAIN2_D3" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D3-1" name="B1_GAIN2_D3" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D4-0" name="B1_GAIN2_D4" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D4-1" name="B1_GAIN2_D4" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D5-0" name="B1_GAIN2_D5" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D5-1" name="B1_GAIN2_D5" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D6-0" name="B1_GAIN2_D6" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D6-1" name="B1_GAIN2_D6" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D7-0" name="B1_GAIN2_D7" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D7-1" name="B1_GAIN2_D7" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D8-0" name="B1_GAIN2_D8" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D8-1" name="B1_GAIN2_D8" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D9-0" name="B1_GAIN2_D9" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D9-1" name="B1_GAIN2_D9" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D10-0" name="B1_GAIN2_D10" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D10-1" name="B1_GAIN2_D10" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D11-0" name="B1_GAIN2_D11" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D11-1" name="B1_GAIN2_D11" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D12-0" name="B1_GAIN2_D12" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D12-1" name="B1_GAIN2_D12" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D13-0" name="B1_GAIN2_D13" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D13-1" name="B1_GAIN2_D13" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D14-0" name="B1_GAIN2_D14" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D14-1" name="B1_GAIN2_D14" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D15-0" name="B1_GAIN2_D15" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D15-1" name="B1_GAIN2_D15" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D16-0" name="B1_GAIN2_D16" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D16-1" name="B1_GAIN2_D16" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D17-0" name="B1_GAIN2_D17" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D17-1" name="B1_GAIN2_D17" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D18-0" name="B1_GAIN2_D18" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D18-1" name="B1_GAIN2_D18" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D19-0" name="B1_GAIN2_D19" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D19-1" name="B1_GAIN2_D19" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D20-0" name="B1_GAIN2_D20" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D20-1" name="B1_GAIN2_D20" required="" value="2"></td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D21-0" name="B1_GAIN2_D21" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN2_D21-1" name="B1_GAIN2_D21" required="" value="2"></td><td>B</td></tr>

    </tbody></table>
    
        
    <!--Tabelle B4: Option B-->
    <table class="dtable-b4" id="ASC" name="False">
      <tbody><tr class="dtable-b4-tr1">
        <td>
          <span>Option B: <br> Sichere Auszahlung</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>20.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>19.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>19.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>18.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>18.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>17.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>17.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>16.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>16.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>15.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>15.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>14.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>14.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>13.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>13.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>12.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>12.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>11.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>11.00 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>10.50 Punkte</span>
        </td>
      </tr>
      
      <tr class="dtable-b4-tr">
        <td>
          <span>10.00 Punkte</span>
        </td>
      </tr>
      
    </tbody></table>
    
    </div>
    
    </div>


<p>
    
Angenommen Sie w&uuml;rden lieber 13 Punkte als sichere Auszahlung haben als die Lotterie. 
Sobald die sichere Auszahlung jedoch kleiner ist als 13, entscheiden Sie sich lieber f&uuml;r die Lotterie. 
Dann geben Sie Ihre Entscheidung wie folgt in den Computer ein: W&auml;hlen Sie die Option B f&uuml;r die Zeilen 1-8 und die Option A f&uuml;r die Zeilen 9-21 aus. 

</p>


<p>
    
Beachten Sie: Ab der Zeile, in der Sie in Ihrer Entscheidung von einer Option zur anderen wechseln, f&uuml;llt der Computer automatisch die nachfolgenden Zeilen f&uuml;r Sie aus. 
Sie k&ouml;nnen diese automatisch ausgef&uuml;llten Zeilen jederzeit wieder manuell ver&auml;ndern, indem Sie zur anderen Option wechseln.
Probieren Sie es aus.

</p>


    <hr/>
    
<h4 class="card-title example-content-h">
    Auszahlung bei Gewinnsituation
</h4>

<p>
    
Hier wird Ihnen erkl&auml;rt, wie ihre Auszahlung zustande kommt, wenn zuf&auml;llig eine Gewinnsituation f&uuml;r ihre Auszahlung ausgew&auml;hlt wird. 

</p>


<p>
    
Angenommen, Sie haben folgende Entscheidung getroffen:
XXX BILD XXX

</p>


<p>
    
Der Computer hat nun zuf&auml;llig Zeile XXX in dieser Tabelle f&uuml;r Ihre Auszahlung ausgew&auml;hlt. 
Das bedeutet f&uuml;r Sie, dass Sie mit Sicherheit XXX Punkte erhalten. 

</p>


</div>

    <button onclick="topFunction(); bootstrapButtonControl('back');" type="button" class="prevtab btn-primary btn back">
        Zur&uuml;ck
    </button>
    <button onclick="topFunction(); bootstrapButtonControl('next');" type="button" class="nexttab btn-primary btn next">
        Weiter
    </button>
</div>

    
<div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
    <div class="card-header bg-transparent mainheader tab-header" >
        <h2 class="card-title font-weight-bold">
            Beispiel: Verlustsituation
        </h2>
    </div>
    
<div class="card-body">
    
<h4 class="card-title example-content-h-first">
    Eingabe bei Verlustsituation
</h4>

<p>
    
Hier wird Ihnen erkl&auml;rt, wie Sie in einer Verlustsituation ihre Entscheidungen eingeben. 

</p>


<p>
    
Nun eine Verlustsituation. 
Wenn Sie sich hier f&uuml;r die Lotterie (Option A) entscheiden, besteht eine 50% Chance 20 Punkte zu verlieren und eine 50% Chance 0 Punkte zu verlieren. 
Entscheiden Sie sich hingegen f&uuml;r die sichere Auszahlung (Option B), so verlieren Sie mit Sicherheit die der Zeile entsprechenden Punktzahl zwischen 20 und 0.

</p>


<div class="dtable">

    <div class="dtable-b">

        <!--Tabelle B1: Nummerierung-->
        <table class="dtable-b1">
            <tbody><tr class="dtable-b1-tr1">
                <td>
                    <span></span>
                </td>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">1</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">2</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">3</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">4</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">5</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">6</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">7</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">8</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">9</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">10</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">11</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">12</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">13</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">14</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">15</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">16</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">17</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">18</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">19</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">20</span>
                </th>
            </tr>

            <tr class="dtable-b1-tr">
                <th>
                    <span style="padding-right: 0.25rem">21</span>
                </th>
            </tr>

            </tbody></table>


        <!--Tabelle B2: Option A-->
        <table class="dtable-b2">
            <tbody><tr class="dtable-b2-tr1">
                <td>
                    <span>Option A: <br> Risikolotterie</span>
                </td>
            </tr>
            <tr class="dtable-b2-tr">
                <td>
                    <div>
                        <p>Auszahlung von 10.00 Punkte</p>
                        <p>mit Wahrscheinlichkeit 50%</p>
                        <p>und Auszahlung von 0.00 Punkte</p>
                        <p>mit Wahrscheinlichkeit 50%</p>
                    </div>
                </td>
            </tr>
            </tbody></table>


        <!--Tabelle B3: Entscheidung-->
        <table class="dtable-b3">
            <tbody><tr class="dtable-b3-tr1">
                <td colspan="4">
                    <span>Ihre Entscheidung</span>
                </td>
            </tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D1-0" name="B1_GAIN1_D1" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D1-1" name="B1_GAIN1_D1" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D2-0" name="B1_GAIN1_D2" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D2-1" name="B1_GAIN1_D2" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D3-0" name="B1_GAIN1_D3" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D3-1" name="B1_GAIN1_D3" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D4-0" name="B1_GAIN1_D4" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D4-1" name="B1_GAIN1_D4" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D5-0" name="B1_GAIN1_D5" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D5-1" name="B1_GAIN1_D5" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D6-0" name="B1_GAIN1_D6" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D6-1" name="B1_GAIN1_D6" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D7-0" name="B1_GAIN1_D7" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D7-1" name="B1_GAIN1_D7" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D8-0" name="B1_GAIN1_D8" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D8-1" name="B1_GAIN1_D8" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D9-0" name="B1_GAIN1_D9" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D9-1" name="B1_GAIN1_D9" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D10-0" name="B1_GAIN1_D10" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D10-1" name="B1_GAIN1_D10" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D11-0" name="B1_GAIN1_D11" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D11-1" name="B1_GAIN1_D11" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D12-0" name="B1_GAIN1_D12" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D12-1" name="B1_GAIN1_D12" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D13-0" name="B1_GAIN1_D13" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D13-1" name="B1_GAIN1_D13" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D14-0" name="B1_GAIN1_D14" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D14-1" name="B1_GAIN1_D14" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D15-0" name="B1_GAIN1_D15" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D15-1" name="B1_GAIN1_D15" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D16-0" name="B1_GAIN1_D16" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D16-1" name="B1_GAIN1_D16" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D17-0" name="B1_GAIN1_D17" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D17-1" name="B1_GAIN1_D17" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D18-0" name="B1_GAIN1_D18" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D18-1" name="B1_GAIN1_D18" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D19-0" name="B1_GAIN1_D19" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D19-1" name="B1_GAIN1_D19" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D20-0" name="B1_GAIN1_D20" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D20-1" name="B1_GAIN1_D20" required="" value="2"></td><td>B</td></tr>
            <tr class="dtable-b3-tr"><td>A</td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D21-0" name="B1_GAIN1_D21" required="" value="1"></td><td><input class="form-check-input" type="radio" id="id_B1_GAIN1_D21-1" name="B1_GAIN1_D21" required="" value="2"></td><td>B</td></tr>

            </tbody></table>


        <!--Tabelle B4: Option B-->
        <table class="dtable-b4" id="ASC" name="True">
            <tbody><tr class="dtable-b4-tr1">
                <td>
                    <span>Option B: <br> Sichere Auszahlung</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>0.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>0.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>1.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>1.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>2.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>2.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>3.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>3.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>4.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>4.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>5.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>5.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>6.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>6.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>7.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>7.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>8.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>8.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>9.00 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>9.50 Punkte</span>
                </td>
            </tr>

            <tr class="dtable-b4-tr">
                <td>
                    <span>10.00 Punkte</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<p>
    
Angenommen Sie w&uuml;rden lieber die Lotterie haben als sicher 8 Punkte zu verlieren. 
Doch sobald Sie weniger als 8 Punkte verlieren, entscheiden Sie sich f&uuml;r die sichere Auszahlung.  
Dann geben Sie Ihre Entscheidung wie folgt in den Computer ein: 
W&auml;hlen Sie die Option A f&uuml;r die Zeilen 1-13 und die Option B f&uuml;r die Zeilen 14-21 aus. 

</p>


<p>
    
Beachten Sie: Ab der Zeile, in der Sie in Ihrer Entscheidung von einer Option zur anderen wechseln, f&uuml;llt der Computer automatisch die nachfolgenden Zeilen f&uuml;r Sie aus. 
Sie k&ouml;nnen diese automatisch ausgef&uuml;llten Zeilen jederzeit wieder manuell ver&auml;ndern, indem Sie zur anderen Option wechseln. 
Probieren Sie es aus. 

</p>


    <hr/>
    
<h4 class="card-title example-content-h">
    Auszahlung bei Verlustsituation
</h4>

<p>
    
Hier wird Ihnen erkl&auml;rt, wie ihre Auszahlung zustande kommt, wenn zuf&auml;llig eine Verlustsituation f&uuml;r ihre Auszahlung ausgew&auml;hlt wird. 

</p>


<p>
    
Angenommen, Sie haben folgende Entscheidung getroffen:
XXX BILD XXX

</p>


<p>
    
Der Computer hat nun zuf&auml;llig Zeile XXX in dieser Tabelle f&uuml;r Ihre Auszahlung ausgew&auml;hlt. 
Das bedeutet f&uuml;r Sie, dass Sie mit 50% Wahrscheinlichkeit 0 Punkte verlieren und mit 50% Wahrscheinlichkeit 20 Punkte verlieren. 

</p>


</div>

    <button onclick="topFunction(); bootstrapButtonControl('back');" type="button" class="prevtab btn-primary btn back">
        Zur&uuml;ck
    </button>
    <button onclick="topFunction(); bootstrapButtonControl('next');" type="button" class="nexttab btn-primary btn next">
        Weiter
    </button>
</div>

</div>

<style>
.next {
    float: right;
    margin: 40px auto;
}

.back{
    float: left;
    margin: 40px auto;
}



.page-header {
    margin: 0px 0 5px;
    padding: 0;
    border-bottom: none;
    text-align: center;
}

p{
    text-align: justify;
    text-justify: inter-word;
}


.nav {
    visibility: visible;
}
</style>

<style>
:target {
    scroll-margin-top: 5rem;
}

.example-content-h-first {
    margin-bottom: 1rem;
}

.example-content-h {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tab-header {
    margin-top: 1rem;
}
</style>

<style>
.dtable {
    border: 2px solid black;
    width: 100%;
    height: auto;
    font-size: 0.875rem;
    font-family: Arial, "sans-serif";
    margin: 2rem 0 2rem 0;
}

.dtable-h {
    border-bottom: 2px solid black;
    width: 100%;
    height: 4rem;
    display: flex;
}

.dtable-h span {
    margin: auto 0 auto 2rem;
    font-weight: bold;
}

.dtable-b {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.dtable-b1 {
    width: 4rem;
    min-width: 4rem;
}

.dtable-b2, .dtable-b3, .dtable-b4 {
    width: 100%;
    min-width: 50px;
}

.dtable-b1-tr1, .dtable-b2-tr1, .dtable-b3-tr1, .dtable-b4-tr1 {
    height: 4rem;
    border-bottom: 2px solid black;
    font-weight: bold;
    text-align: center;
}

.dtable-b1-tr1, .dtable-b2-tr1, .dtable-b3-tr1 {
    border-right: 2px solid black;
}

.dtable-b1-tr {
    border-right: 2px solid black;
    text-align: right;
    font-weight: normal;
}

.dtable-b2-tr {
    border-right: 2px solid black;
    font-weight: normal;
    text-align: center;
}

.dtable-b2-tr td {
    height: 100%;
}

.dtable-b2-tr td div {
    padding-top: 1rem;
    margin: 10px;
    border: 1px solid black;
}

.dtable-b3-tr {
    border-right: 2px solid black;
    font-weight: normal;
}

.dtable-b3-tr td:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

.dtable-b3-tr td:nth-child(2) {
    min-width: 3rem;
    width: 3rem;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-right: 1rem;
}

.dtable-b3-tr td:nth-child(3) {
    min-width: 3rem;
    width: 3rem;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 1rem;
}

.dtable-b3-tr td:nth-child(4) {
    text-align: center;
    font-weight: bold;
}

.dtable-b3-tr:last-child td{
    border-bottom: none;
}

.dtable-b3-tr input {
    border: 2px solid black;
}

.dtable-b4-tr {
    text-align: center;
    font-weight: normal;
}

</style>

<script>
function bootstrapButtonControl(buttonDirection){
    let i;
    let items = $('.nav-link');
    let pane = $('.tab-pane');

    for(i = 0; i < items.length; i++){
        if($(items[i]).hasClass('active') == true){
            break;
        }
    }
    if(buttonDirection === 'next'){
        $(items[i]).removeClass('active');
        $(pane[i]).removeClass('show active');
        $(items[i+1]).addClass('active');
        $(pane[i+1]).addClass('show active');
    }
    if(buttonDirection === 'back') {
        $(items[i]).removeClass('active');
        $(pane[i]).removeClass('show active');
        $(items[i-1]).addClass('active');
        $(pane[i-1]).addClass('show active');
    }
}

function bootstrapTabControl(nextTab) {
    let i;
    let items = $('.nav-link');
    let pane = $('.tab-pane');
    for(i = 0; i < items.length; i++){
        if($(items[i]).hasClass('active') == true){
            break;
        }
    }
    // for tab
    $(items[i]).removeClass('active');
    $(items[nextTab-1]).addClass('active');
    // for pane
    $(pane[i]).removeClass('show active');
    $(pane[nextTab-1]).addClass('show active');
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<script>
$(document).ready(function() {
    $('input[type=radio][value="1"]').click(
        function () {
            let asc = document.querySelector('table[id=ASC]').getAttribute('name')
            // ASCENDING
            if (asc === "True") {
                console.log("ASCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("1")
                    }
                    if(radios[i].value == 1) {
                        radios[i].checked = true;
                        console.log("1")
                    }
                    i++;
                }
                radios[i].checked = false;
                console.log("2")
                i++;
                while(i <radios.length) {
                    if(radios[i].value == 2) {
                        console.log("2")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // DESCENDING
            if (asc === "False") {
                console.log("DESCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("2")
                    }
                    if(radios[i].value == 2) {
                        radios[i].checked = true;
                        console.log("2")
                    }
                    i++;
                }
                radios[i].checked = false;
                console.log("2")
                i++;
                while(i<radios.length) {
                    if(radios[i].value == 1) {
                        console.log("1")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // else {
            //     let radios = document.querySelectorAll('input[type=radio]')
            //     let after = false
            //     for(let i = 0; i<radios.length; i++) {
            //         if(after === false && radios[i].value == 2 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //         else if (radios[i].id === this.id) {
            //             radios[i].checked = true
            //             after = true
            //         }
            //         else if (after === true && radios[i].value == 1 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //     }
            // }



        }
    );

    $('input[type=radio][value="2"]').click(
        function () {
            let asc = document.querySelector('table[id=ASC]').getAttribute('name')
            // ASCENDING
            if (asc === "True") {
                console.log("ASCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("1")
                    }
                    if(radios[i].value == 1) {
                        radios[i].checked = true;
                        console.log("1")
                    }
                    i++;
                }
                while(i <radios.length) {
                    if(radios[i].value == 2) {
                        console.log("2")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // DESCENDING
            if (asc === "False") {
                console.log("DESCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("2")
                    }
                    if(radios[i].value == 2) {
                        radios[i].checked = true;
                        console.log("2")
                    }
                    i++;
                }
                while(i<radios.length) {
                    if(radios[i].value == 1) {
                        console.log("1")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // else {
            //     let radios = document.querySelectorAll('input[type=radio]')
            //     let after = false
            //     for(let i = 0; i<radios.length; i++) {
            //         if(after === false && radios[i].value == 2 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //         else if (radios[i].id === this.id) {
            //             radios[i].checked = true
            //             after = true
            //         }
            //         else if (after === true && radios[i].value == 1 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //     }
            // }



        }
    );


});
</script>


{% endblock %}