{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Which would you prefer?{% endblock %}

{% block content %}

<table class="table">
    {% formfield player.WTP_15 %}
    {% for field in form %}
        <tr>
        <td colspan="4"><img src="{% static "images/{{ field.name }}_1.PNG" %}" alt="" border="0" style="width:100%;"></img></th>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        <td colspan="4"><img src="{% static "images/Shower2.PNG" %}" alt="" border="0" style="width:100%;"></img></th>
        </tr>
    {% endfor %}
</table>
{% next_button %}

{% endblock %}
