<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html>
<head>
<meta  charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<style>
.outer {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}
.boxed {
  background-color: #DCDCDC ;
  border: 1px solid black;
  padding: 20px;
}
</style>
</head>
<body>

{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Dritter Teil der Umfrage - Zweiter Fragenblock{% endblock %}


{% block content %}
<p align="left">Sie haben nun den ersten Fragenblock des dritten Teils der Umfrage beendet.</p>
<p align="left">Im zweiten Fragenblock fragen wir Sie nach Ihrem Interesse an einer zweiten Anwendung.</p>


{% formfields %}

{% next_button %}

{% endblock %}
</body>
</html>
