{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Vielen Dank f&uuml;r Ihre Teilnahme an der heutigen Studie!{% endblock %}

{% block content %}


<p>
    Sie haben in diesem Experiment insgesamt {{player.payoff}} verdient:
</p>

<ol>
    <li style="margin-bottom: 1rem">
        fixer Auszahlungsbetrag:
        <br>
        {{Constants.fix_payoff}} als garantierte Auszahlung
    </li>
    <li style="margin-bottom: 1rem">
        zus&auml;tzlicher Auszahlungsbetrag:
        <br>
        None aus einer zuf&auml;llig ausgew&auml;hlten Zeile in einer zuf&auml;llig ausgew&auml;hlten Entscheidungstabelle:
        <ul>
            <li style="margin-top: 0.25rem">
                Entscheidungstabelle None wurde zuf&auml;llig ausgew&auml;hlt
            </li>
            <li style="margin-top: 0.125rem">
                Zeile None wurde zuf&auml;llig ausgew&auml;hlt. Sie konnten sich hier zwischen None und None entscheiden.
            </li>
            <li style="margin-top: 0.125rem">
                Sie haben sich f&uuml;r None entschieden.
            </li>
        </ul>
    </li>
</ol>

<p>
    Sie erhalten Ihre Auszahlung innerhalb der n&auml;chsten Tage per &Uuml;berweisung. Bitte kontaktieren Sie <a href="mailto:{{Constants.contact.email}}">{{Constants.contact.email}}</a>, falls Sie weitere Fragen zu dem Experiment oder Ihrer &Uuml;berweisung haben sollten.
</p>

<p>
    Vielen Dank f&uuml;r Ihre Teilnahme am Experiment! Sie k&ouml;nnen das Browserfenster nun schlie&szlig;en.
</p>


{% next_button %}

{% endblock %}