{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Vielen Dank f&uuml;r Ihre Teilnahme an der heutigen Studie!{% endblock %}

{% block content %}


<p>
    Endowment: {{participant.vars.endowment}}, Payoff: {{participant.vars.payoff}}, Typ: {{participant.vars.payoff_rd_typ}}, Block: {{participant.vars.payoff_rd_block}}, Tabelle: {{participant.vars.payoff_rd_table}}, Entscheidung: {{participant.vars.payoff_rd_decision}}, Ihre Entscheidung: {{participant.vars.payoff_player_decision}}
</p>

<p>
    Sie erhalten Ihre Auszahlung innerhalb der n&auml;chsten Tage per &Uuml;berweisung. Bitte kontaktieren Sie <a href="mailto:schulzetilling@uni-bonn.de">schulzetilling@uni-bonn.de</a>, falls Sie weitere Fragen zu dem Experiment oder Ihrer &Uuml;berweisung haben sollten.
</p>

<p>
    Vielen Dank f&uuml;r Ihre Teilnahme am Experiment! Sie k&ouml;nnen das Browserfenster nun schlie&szlig;en.
</p>


{% next_button %}

{% endblock %}