{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Pers&ouml;nliche Informationen{% endblock %}

{% block content %}


<p>
    
Vielen Dank, dass Sie an dieser Umfrage teilnehmen. 
Wenn Sie die Umfrage beendet haben, wird Ihnen eine Aufwandsentsch&auml;digung &uuml;berwiesen. 
Um die &Uuml;berweisung ausf&uuml;hren zu k&ouml;nnen, ben&ouml;tigen wir die folgenden Informationen von Ihnen. 
Diese Informationen werden <b>nur f&uuml;r die Abwicklung</b> der Zahlung verwendet und vor der Datenauswertung von dem restlichen Datensatz getrennt.

</p>

<p>
    {% form.VORNAME.label %}
    <input type="text" class="form-control" name="VORNAME" id="VORNAME"/>
    {% formfield_errors 'VORNAME' %}
</p>
    
<p>
    {% form.NACHNAME.label %}
    <input type="text" class="form-control" name="NACHNAME" id="NACHNAME"/>
    {% formfield_errors 'NACHNAME' %}
</p>
    
<p>
    {% form.STRASSE.label %}
    <input type="text" class="form-control" name="STRASSE" id="STRASSE"/>
    {% formfield_errors 'STRASSE' %}
</p>
    
<p>
    {% form.PLZ.label %}
    <input type="number" class="form-control" name="PLZ" id="PLZ"/>
    {% formfield_errors 'PLZ' %}
</p>
    
<p>
    {% form.STADT.label %}
    <input type="text" class="form-control" name="STADT" id="STADT"/>
    {% formfield_errors 'STADT' %}
</p>
    
<p>
    {% form.EMAIL.label %}
    <input type="email" class="form-control" name="EMAIL" id="EMAIL"/>
    {% formfield_errors 'EMAIL' %}
</p>
    
<p>
    {% form.IBAN.label %}
    <input type="text" class="form-control" name="IBAN" id="IBAN"/>
    {% formfield_errors 'IBAN' %}
</p>
    
<p>
    {% form.BIC.label %}
    <input type="text" class="form-control" name="BIC" id="BIC"/>
    {% formfield_errors 'BIC' %}
</p>
    
<div class="otree-next" id="otree-next">
    
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um fortzufahren.
</p>

    {% next_button %}
</div>


{% endblock %}