{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Pers&ouml;nliche Informationen{% endblock %}

{% block content %}


<p>
    
Vielen Dank, dass Sie an dieser Umfrage teilnehmen. 
Wenn Sie die Umfrage beendet haben, wird Ihnen eine Aufwandsentsch&auml;digung &uuml;berwiesen. 
Um die &Uuml;berweisung ausf&uuml;hren zu k&ouml;nnen, ben&ouml;tigen wir die folgenden Informationen von Ihnen. 
Diese Informationen werden <b>nur f&uuml;r die Abwicklung</b> der Zahlung verwendet und vor der Datenauswertung von dem restlichen Datensatz getrennt.

</p>

{% formfield player.VORNAME %}
{% formfield player.NACHNAME %}
{% formfield player.STRASSE %}
{% formfield player.PLZ %}
{% formfield player.STADT %}
{% formfield player.EMAIL %}
{% formfield player.IBAN %}
{% formfield player.BIC %}

<div class="otree-next" id="otree-next">
    
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um fortzufahren.
</p>

    {% next_button %}
</div>


{% endblock %}