{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Aufbau{% endblock %}

{% block content %}


<p>
    Die Aufwandsentsch&auml;digung f&uuml;r Ihre Teilnahme besteht aus zwei Teilen:
</p>

<ol>
    <li style="margin-bottom: 1rem">
        Fixe Auszahlung:
        <br>
        Sie erhalten eine garantierte Auszahlung in H&ouml;he von {{Constants.fix_payoff}}.
    </li>
    <li>
        Variable Auszahlung:
        <br>
        Sie k&ouml;nnen sich zus&auml;tzlich einen Betrag zwischen {{Constants.extra_payoff_lower_limit}} und {{Constants.extra_payoff_upper_limit}} dazu verdienen, wobei die Verdiensth&ouml;he von Ihren Entscheidungen und einer zuf&auml;lligen Auslosung abh&auml;ngt. Weitere Informationen erhalten Sie zu einem sp&auml;teren Zeitpunkt.
    </li>
</ol>

<p>
    Die Auswertung der Umfrage erfolgt pseudonymisiert. Das hei&szlig;t, Ihre Antworten auf die folgenden Fragen werden vollkommen getrennt von Ihren pers&ouml;nlichen Informationen ausgewertet. Bitte antworten Sie daher so pr&auml;zise wie m&ouml;glich. 
</p>

<p>
    Sie bearbeiten die Umfrage unabh&auml;ngig von den anderen Teilnehmern, k&ouml;nnen also in Ihrem eigenen Tempo arbeiten.
</p>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um mit der Experimentbeschreibung fortzufahren.
</p>


{% next_button %}

{% endblock %}