{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Aufbau{% endblock %}

{% block content %}


<div>
  <p>
    Ihre Aufwandsentschädigung für Ihre Teilnahme besteht aus zwei Teilen:
  </p>
  <ul>
    <li style="margin-bottom: 0.125rem">
      Fixer Teil:
      {{Constants.participation_fee}} garantierte Aufwandsentschädigung
    </li>
    <li>
      Variabler Teil:
      Ein weiterer Betrag zwischen XX und YY Euro, der von Ihren Entscheidungen in dieser Studie und einer zufälligen Auslosung abhängt.
    </li>
  </ul>
</div>

<p>
  Die Auswertung der Umfrage erfolgt pseudoynymisiert.
  Das heißt, Ihre Antworten auf die folgenden Fragen werden vollkommen getrennt von Ihren persönlichen Informationen ausgewertet.
  Bitte antworten Sie daher so präzise wie möglich.
</p>



{% next_button %}

{% endblock %}

