{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Berechnung der Auszahlung{% endblock %}

{% block content %}


<p>
    Ihre Entscheidungen, die Sie w&auml;hrend des Experimentes treffen, bestimmen den variablen Teil ihrer Auszahlung:
</p>

<ol>
    <li style="margin-bottom: 1rem">
        Zun&auml;chst wird eine der {{Constants.tables}} Tabellen zuf&auml;llig vom Computer ausgew&auml;hlt.
    </li>
    <li style="margin-bottom: 1rem">
        In der ausgew&auml;hlten Tabelle wird eine der {{Constants.decisions_per_table}} Zeilen zuf&auml;llig vom Computer ausgew&auml;hlt. Die Entscheidung, die Sie dort getroffen haben, wird tats&auml;chlich umgesetzt:
        <ul>
            <li style="margin-top: 0.25rem">
                Haben Sie in dieser Zeile Option A gew&auml;hlt, wird Option A umgesetzt.
            </li>
            <li style="margin-top: 0.125rem">
                Haben Sie in dieser Zeile Option A gew&auml;hlt, wird Option A umgesetzt.
            </li>
        </ul>
    </li>
    <li>
        Sie erhalten so eine bestimmte Anzahl an Punkten, wobei {{Constants.example_points}} Punkte einer Auszahlung von {{Constants.example_payoff}} entsprechen. Der entsprechende Euro-Betrag wird zu dem fixen Auszahlungsbetrag in H&ouml;he von {{Constants.fix_payoff}} hinzugef&uuml;gt.
    </li>
</ol>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um fortzufahren.
</p>


{% next_button %}

{% endblock %}