{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Beschreibung der kommenden Situationen{% endblock %}

{% block content %}


<p>
    Sie sehen gleich nacheinander {{Constants.tables}} Tabellen mit jeweils {{Constants.decisions_per_table}} Zeilen. In jeder Zeile treffen Sie eine Entscheidung zwischen einer <b>Risikolotterie (Option A)</b> und einer <b>sicheren Auszahlung (Option B)</b>. Die Wahrscheinlichkeiten der Risikolotterie sind in den Tabellen angegeben.
</p>

<p>
    Die Auszahlungen k&ouml;nnen positiv (Gewinnsituation) oder negativ (Verlustsituation) sein.
</p>

<ul>
    <li style="margin-bottom: 1rem">
        Bei positiven Auszahlungen erhalten Sie entweder einen Betrag mit einer gewissen Wahrscheinlichkeit (Option A) oder einen anderen Betrag mit Sicherheit (Option B).
    </li>
    <li>
        Bei negativen Auszahlungen wird Ihnen entweder ein Betrag mit einer gewissen Wahrscheinlichkeit (Option A) abgezogen oder ein anderer Betrag mit Sicherheit (Option B) abgezogen. 
    </li>
</ul>

<p>
    In jeder Entscheidungssituation sind Ihnen s&auml;mtliche relevanten Informationen angegeben.
</p>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um mit den Beispielaufgaben fortzufahren.
</p>


{% next_button %}

{% endblock %}