{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Willkommen{% endblock %}

{% block content %}


<p>
    
Herzlich Willkommen zur Online-Studie des BonnEconLab. 
Bitte beachten Sie, dass Sie an dieser Studie <b>nur einmal teilnehmen d&uuml;rfen.</b> 
Au&szlig;erdem d&uuml;rfen Sie nur teilnehmen, wenn Sie sich in unserer Teilnahmedatenbank f&uuml;r diese Studie angemeldet haben.

</p>

<p>
    
Es steht Ihnen frei, die Studie jederzeit ohne Angabe von Gr&uuml;nden abzubrechen. 
Aus einem Abbruch entstehen Ihnen keine Nachteile, abgesehen davon, dass Sie keine Teilnahmeverg&uuml;tung erhalten. 
Sie werden zum Ausf&uuml;llen der Umfrage <b>ungef&auml;hr 45 Minuten</b> ben&ouml;tigen. 
Bitte bearbeiten Sie diese Umfrage <b>am Computer</b>. 
Eine Teilnahme mit mobilen Ger&auml;ten wie Smartphones oder Tablets ist <b>nicht</b> m&ouml;glich.

</p>

<p>
    
Sollten Sie w&auml;hrend des Experiments Fragen haben, k&ouml;nnen Sie jederzeit die Experimentleiterin kontaktieren:

</p>

<ul>
    <li>
        per Telefonnummer: 0176 86963663
    </li>
    <li>
        per E-Mail: <a href="mailto:schulzetilling@uni-bonn.de">schulzetilling@uni-bonn.de</a>
    </li>
</ul>

<noscript>
    <div class="alert alert-danger" role="alert">
        Zur Teilnahme an dieser Studie wird <em>JavaScript</em> ben&ouml;tigt, welches in Ihrem Browser leider deaktiviert ist.
        Bitte aktivieren Sie deshalb JavaScript und laden Sie erneut diese Seite
        oder &ouml;ffnen Sie Ihren pers&ouml;nlichen Link in einem anderen Browser / auf einem anderen Ger&auml;t.
    </div>
</noscript>

<div class="otree-next" id="otree-next">
    
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um fortzufahren.
</p>

    {% next_button %}
</div>


{% endblock %}