{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungssituation{% endblock %}

{% block content %}


<style>
.dtable {
    border: 2px solid black;
    width: 100%;
    height: auto;
    font-size: 0.875rem;
    font-family: Arial, "sans-serif";
    margin: 2rem 0 2rem 0;
}

.dtable-h {
    border-bottom: 2px solid black;
    width: 100%;
    height: 4rem;
    display: flex;
}

.dtable-h span {
    margin: auto 0 auto 2rem;
    font-weight: bold;
}

.dtable-b {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.dtable-b1 {
    width: 4rem;
    min-width: 4rem;
}

.dtable-b2, .dtable-b3, .dtable-b4 {
    width: 100%;
    min-width: 50px;
}

.dtable-b1-tr1, .dtable-b2-tr1, .dtable-b3-tr1, .dtable-b4-tr1 {
    height: 4rem;
    border-bottom: 2px solid black;
    font-weight: bold;
    text-align: center;
}

.dtable-b1-tr1, .dtable-b2-tr1, .dtable-b3-tr1 {
    border-right: 2px solid black;
}

.dtable-b1-tr {
    border-right: 2px solid black;
    text-align: right;
    font-weight: normal;
}

.dtable-b2-tr {
    border-right: 2px solid black;
    font-weight: normal;
    text-align: center;
}

.dtable-b2-tr td {
    height: 100%;
}

.dtable-b2-tr td div {
    padding-top: 1rem;
    margin: 10px;
    border: 1px solid black;
}

.dtable-b3-tr {
    border-right: 2px solid black;
    font-weight: normal;
}

.dtable-b3-tr td:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

.dtable-b3-tr td:nth-child(2) {
    min-width: 3rem;
    width: 3rem;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-right: 1rem;
}

.dtable-b3-tr td:nth-child(3) {
    min-width: 3rem;
    width: 3rem;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 1rem;
}

.dtable-b3-tr td:nth-child(4) {
    text-align: center;
    font-weight: bold;
}

.dtable-b3-tr:last-child td{
    border-bottom: none;
}

.dtable-b3-tr input {
    border: 2px solid black;
}

.dtable-b4-tr {
    text-align: center;
    font-weight: normal;
}


</style>

    <div class="dtable">
    
    <div class="dtable-h">
        <span>
            Entscheidungssituation: {% Constants.forms.B1_GAIN16.Number %}
        </span>
    </div>
    
    
    <div class="dtable-b">
        
    <!--Tabelle B1: Nummerierung-->
    <table class="dtable-b1">
      <tr class="dtable-b1-tr1">
        <td>
          <span></span>
        </td>
      </tr>
      {% for i in Constants.forms.B1_GAIN16.Numbering%}
      <tr class="dtable-b1-tr">
        <th>
          <span style="padding-right: 0.25rem">{% i %}</span>
        </th>
      </tr>
      {% endfor %}
    </table>
    
        
    <!--Tabelle B2: Option A-->
    <table class="dtable-b2">
      <tr class="dtable-b2-tr1">
        <td>
          <span>Option A: <br/> Risikolotterie</span>
        </td>
      </tr>
      <tr class="dtable-b2-tr">
        <td>
          <div>
            <p>Auszahlung von {%Constants.forms.B1_GAIN16.A.x1%}</p>
            <p>mit Wahrscheinlichkeit {%Constants.forms.B1_GAIN16.A.p1%}</p>
            <p>und Auszahlung von {%Constants.forms.B1_GAIN16.A.x2%}</p>
            <p>mit Wahrscheinlichkeit {%Constants.forms.B1_GAIN16.A.p2%}</p>
          </div>
        </td>
      </tr>
    </table>
    
        
    <!--Tabelle B3: Entscheidung-->
    <table class="dtable-b3">
      <tr class="dtable-b3-tr1">
        <td colspan="4">
          <span>Ihre Entscheidung</span>
        </td>
      </tr>
      <tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D1.0%}</td><td>{%form.B1_GAIN16_D1.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D2.0%}</td><td>{%form.B1_GAIN16_D2.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D3.0%}</td><td>{%form.B1_GAIN16_D3.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D4.0%}</td><td>{%form.B1_GAIN16_D4.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D5.0%}</td><td>{%form.B1_GAIN16_D5.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D6.0%}</td><td>{%form.B1_GAIN16_D6.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D7.0%}</td><td>{%form.B1_GAIN16_D7.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D8.0%}</td><td>{%form.B1_GAIN16_D8.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D9.0%}</td><td>{%form.B1_GAIN16_D9.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D10.0%}</td><td>{%form.B1_GAIN16_D10.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D11.0%}</td><td>{%form.B1_GAIN16_D11.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D12.0%}</td><td>{%form.B1_GAIN16_D12.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D13.0%}</td><td>{%form.B1_GAIN16_D13.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D14.0%}</td><td>{%form.B1_GAIN16_D14.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D15.0%}</td><td>{%form.B1_GAIN16_D15.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D16.0%}</td><td>{%form.B1_GAIN16_D16.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D17.0%}</td><td>{%form.B1_GAIN16_D17.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D18.0%}</td><td>{%form.B1_GAIN16_D18.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D19.0%}</td><td>{%form.B1_GAIN16_D19.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D20.0%}</td><td>{%form.B1_GAIN16_D20.1%}</td><td>B</td></tr>
<tr class="dtable-b3-tr"><td>A</td><td>{%form.B1_GAIN16_D21.0%}</td><td>{%form.B1_GAIN16_D21.1%}</td><td>B</td></tr>

    </table>
    
        
    <!--Tabelle B4: Option B-->
    <table class="dtable-b4" id="ASC" name="{%Constants.forms.B1_GAIN16.ASC%}">
      <tr class="dtable-b4-tr1">
        <td>
          <span>Option B: <br/> Sichere Auszahlung</span>
        </td>
      </tr>
      {% for i in Constants.forms.B1_GAIN16.B %}
      <tr class="dtable-b4-tr">
        <td>
          <span>{% i %}</span>
        </td>
      </tr>
      {% endfor %}
    </table>
    
    </div>
    
    </div>
    
<script>
$(document).ready(function() {
    $('input[type=radio][value="1"]').click(
        function () {
            let asc = document.querySelector('table[id=ASC]').getAttribute('name')
            // ASCENDING
            if (asc === "True") {
                console.log("ASCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("1")
                    }
                    if(radios[i].value == 1) {
                        radios[i].checked = true;
                        console.log("1")
                    }
                    i++;
                }
                radios[i].checked = false;
                console.log("2")
                i++;
                while(i <radios.length) {
                    if(radios[i].value == 2) {
                        console.log("2")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // DESCENDING
            if (asc === "False") {
                console.log("DESCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("2")
                    }
                    if(radios[i].value == 2) {
                        radios[i].checked = true;
                        console.log("2")
                    }
                    i++;
                }
                radios[i].checked = false;
                console.log("2")
                i++;
                while(i<radios.length) {
                    if(radios[i].value == 1) {
                        console.log("1")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // else {
            //     let radios = document.querySelectorAll('input[type=radio]')
            //     let after = false
            //     for(let i = 0; i<radios.length; i++) {
            //         if(after === false && radios[i].value == 2 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //         else if (radios[i].id === this.id) {
            //             radios[i].checked = true
            //             after = true
            //         }
            //         else if (after === true && radios[i].value == 1 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //     }
            // }



        }
    );

    $('input[type=radio][value="2"]').click(
        function () {
            let asc = document.querySelector('table[id=ASC]').getAttribute('name')
            // ASCENDING
            if (asc === "True") {
                console.log("ASCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("1")
                    }
                    if(radios[i].value == 1) {
                        radios[i].checked = true;
                        console.log("1")
                    }
                    i++;
                }
                while(i <radios.length) {
                    if(radios[i].value == 2) {
                        console.log("2")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // DESCENDING
            if (asc === "False") {
                console.log("DESCENDING")
                let radios = document.querySelectorAll('input[type=radio]')
                let after = false
                let i = 0
                while(after === false && i <= radios.length) {
                    if(radios[i].id === this.id) {
                        radios[i].checked = true;
                        after = true;
                        console.log("2")
                    }
                    if(radios[i].value == 2) {
                        radios[i].checked = true;
                        console.log("2")
                    }
                    i++;
                }
                while(i<radios.length) {
                    if(radios[i].value == 1) {
                        console.log("1")
                        radios[i].checked = true;
                    }
                    i++;
                }
            }
            // else {
            //     let radios = document.querySelectorAll('input[type=radio]')
            //     let after = false
            //     for(let i = 0; i<radios.length; i++) {
            //         if(after === false && radios[i].value == 2 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //         else if (radios[i].id === this.id) {
            //             radios[i].checked = true
            //             after = true
            //         }
            //         else if (after === true && radios[i].value == 1 && radios[i].id !== this.id) {
            //             radios[i].checked = true
            //         }
            //     }
            // }



        }
    );


});
</script>

<p>
    Bitte klicken Sie nun auf <em>Weiter</em>, um fortzufahren.
</p>


{% next_button %}

{% endblock %}