{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Auszahlungsrelevante Entscheidungen: Teil 1{% endblock %}

{% block content %}


<p>
    
    Nun beginnt Teil 1 der auszahlungsrelevanten Entscheidungen. 
    Die Entscheidungen, die sie jetzt treffen, sind f&uuml;r ihre Auszahlung relevant. 
    
</p>

    <div class="otree-next" id="otree-next">
        
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um mit den auszahlungsrelevanten Entscheidungssituationen zu starten.
</p>

        {% next_button %}
    </div>
    

{% endblock %}