{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Block 2{% endblock %}

{% block content %}


<p>
    
    "In jeder Entscheidungssituation werden Sie 21 Entscheidungen treffen m&uuml;ssen, dabei m&uuml;ssen Sie sich jeweils zwischen den beiden Optionen entscheiden. 
    Ab der Zeile, in der Sie Ihre Entscheidung von einer Option zur anderen wechseln, f&uuml;llt der Computer automatisch die nachfolgenden Zeilen f&uuml;r Sie aus. 
    Sie k&ouml;nnen diese automatische ausgef&uuml;llten Zeilen manuell korrigieren, indem Sie wieder zur anderen Option wechseln.&ldquo;
    
</p>

    <div class="otree-next" id="otree-next">
        
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um mit den Entscheidungssituationen fortzufahren.
</p>

        {% next_button %}
    </div>
    

{% endblock %}