{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Zwischenfragen (4/4){% endblock %}

{% block content %}

        
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE14.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE14.image %}
            <img src="{% static 'images/zwischenfrage14.png' %}" alt="Zwischenfrage 14" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE14 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE1.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE1.image %}
            <img src="{% static 'images/zwischenfrage1.png' %}" alt="Zwischenfrage 1" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE1 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE3.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE3.image %}
            <img src="{% static 'images/zwischenfrage3.png' %}" alt="Zwischenfrage 3" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE3 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE6.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE6.image %}
            <img src="{% static 'images/zwischenfrage6.png' %}" alt="Zwischenfrage 6" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE6 %}
            </div>
        </div>
        
    <div class="otree-next" id="otree-next">
        
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um fortzufahren.
</p>

        {% next_button %}
    </div>
    
<style>
.zwischenfrage-form {
    margin-bottom: 2rem;
}
.zwischenfrage-label {
    margin-bottom: 1rem;
}
.zwischenfrage-img {
    margin-bottom: 1rem;
    width: 20rem;
    border: 2px solid black;
}
.zwischenfrage-choices {
    margin-bottom: 1rem;
}
</style>


{% endblock %}