{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Zwischenfragen (2/4){% endblock %}

{% block content %}

        
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE10.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE10.image %}
            <img src="{% static 'images/zwischenfrage10.png' %}" alt="Zwischenfrage 10" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE10 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE12.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE12.image %}
            <img src="{% static 'images/zwischenfrage12.png' %}" alt="Zwischenfrage 12" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE12 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE8.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE8.image %}
            <img src="{% static 'images/zwischenfrage8.png' %}" alt="Zwischenfrage 8" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE8 %}
            </div>
        </div>
                
        <div class="zwischenfrage-form">
            <div class="zwischenfrage-label">
                {% form.ZWISCHENFRAGE15.label %}
            </div>
            {% if Constants.forms_zwischenfragen.ZWISCHENFRAGE15.image %}
            <img src="{% static 'images/zwischenfrage15.png' %}" alt="Zwischenfrage 15" class="zwischenfrage-img"/>
            {% endif%}
            <div class="zwischenfrage-choices">
                {% form.ZWISCHENFRAGE15 %}
            </div>
        </div>
        
    <div class="otree-next" id="otree-next">
        
<p>
    Bitte klicken Sie auf <em>Weiter</em>, um fortzufahren.
</p>

        {% next_button %}
    </div>
    
<style>
.zwischenfrage-form {
    margin-bottom: 2rem;
}
.zwischenfrage-label {
    margin-bottom: 1rem;
}
.zwischenfrage-img {
    margin-bottom: 1rem;
    width: 20rem;
    border: 2px solid black;
}
.zwischenfrage-choices {
    margin-bottom: 1rem;
}
</style>


{% endblock %}